* {
    margin: 0 ;
    padding: 0 ;
}
body , html{
    height: 100%;
    width: 100%;
    color: rgb(114, 107, 209);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(39, 41, 43);
}

a:hover {
    color: red;
    transition: 1s;
}
a {
    transition: 1s;
}
@media screen and (max-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 0 ;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    header {
        background-color: aqua;
        width: auto;
        height: 100%;
    }
    .navbar{
        background-color: rgb(30, 31, 31,0.5);
        display: flex;
        flex-direction: column;
        height: 5em;
        border-radius: 5%;
        justify-content: center;
        
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    a {
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
ul {
    list-style: none;
}
.crypto h1  {
    padding: 10px;
}
h1:hover {
    color: azure;
    transition: 1s;
}
p:hover {
    transition: 1s;
     color: azure;
}
p, h1 {
    transition: 1s;
}
section {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px;
    height: 100%; 
    padding: 20px;
}
main { 
    padding: 20px;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-top: 50px;
    margin: 20px;
    border-radius: 10%;
    gap: 20px;
}
.crypto{
    display: flex;
    flex-direction: column;
     padding: 10px ;
    border: 1px solid rgb(48, 45, 45);
    background-color: rgba(0,0,0,0.3);
    border-radius: 12%;
    justify-content: center;
    align-items: center;
    height: 110%;
    width: 100%;
    text-align:left;
    padding-bottom: 10px;
}
p:hover {
    transition: 1s;
     color: azure;
}
p, h1 {
    transition: 1s;
}
.card {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
     border: 1px solid rgb(48, 45, 45);
     background-color: #222; 
     border-radius: 12%;
     width: 100%;
     height: 100%;
}
aside {
    display: flex;
    flex-direction: column;
}
.card h2 {
    padding: 20px;
    
}

.news-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tradingview {
    width: 100%;
    border-radius: 10%;
}

}

@media screen and (min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        
    }
    header {
    display: flex;

    height: 10%;
    padding-top: 10px;
    flex-direction: column;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 20px;
}
a {
    text-align: center;
    margin: 10px ;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
ul {
    list-style: none;
}
.navbar {
    background-color: rgb(30, 31, 31,0.5);
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}
section {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px;
    height: 100%; 
    padding: 20px;
}
main {
    padding: 10px;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr ;
    padding-top: 20px;
    margin: 10px;
    border-radius: 10%;
    gap: 20px;
}
.crypto{
    display: flex;
    flex-direction: column;
     padding: 10px ;
    border: 1px solid rgb(48, 45, 45);
    background-color: rgb(0,0,0.3 );
    border-radius: 12%;
    justify-content: center;
    align-items: center;
    height: 110%;
    width: 100%;
    text-align:left;
    gap: 20px;
}
.crypto h1  {
    padding: 10px;
}
h1:hover {
    color: azure;
    transition: 1s;
}
p:hover {
    transition: 1s;
     color: azure;
}
p, h1 {
    transition: 1s;
}
.card {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 20px;
    justify-content: start;
    align-items: center;
     border: 1px solid rgb(48, 45, 45);
     background-color: #222; 
     border-radius: 12%;
     width: 100%;
     height: 100%;
}
aside {
    display: flex;
    flex-direction: column;
}
.card h2 {
    padding: 20px;  
}

.news-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tradingview {
    width: 100%;
    border-radius: 10%;
}

}
/*
a {
    text-align: center;
    margin: 10px ;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
i {
    color: rgb(207, 197, 197);
}
ul {
    list-style: none;
}
.reseau-social  {
    flex: 1;
}
.reseau-social ul {
    display: flex ; 
    justify-content:end;
    padding-right:20px ;
    gap: 20px;
}

nav {
    text-align: center;
    justify-content: space-between;
    
    flex-grow: 2;
}
nav ul {
    display: flex;
    gap: 50px;
    font-size: 20px;
    list-style: none;
}
section {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px;
    height: 100%; 
    padding: 20px;
}
main {
    background-color: #222; 
    padding: 20px;
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    flex-wrap: wrap;
    gap: 20px;
}
aside {
    background-color: #222;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.crypto{
    
    padding: 10px;
    border: 1px solid rgb(48, 45, 45);
    background-color: rgb(0,0,0.3 );
    border-radius: 10%;
    height: 20%;
    text-align:left;
}
.crypto h1,p{
    padding: 15px;
    text-align: center;
}

.card {
    display: flex;
    padding: 20px;
    border: 1px solid rgb(48, 45, 45);
    background-color: rgb(0,0,0.3 );
    border-radius: 10%;
    height: auto;
   width: auto;
    text-align:left;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}
.news-item {
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.card h2 {
    padding: 10px;

    text-align: center;
}
.xrp {
    border: 1px solid rgb(48, 45, 45);
    background-color: rgb(0,0,0.3 );
    padding-top: 20px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    
}*/
@media screen and (max-width:768px){
    header {
        display: grid;
        grid-template-columns: 1fr;
        background-color: rgb(66, 65, 75);
        padding: 10px;
    }

    nav ul {
        display: block;
        text-align: center;
    }

    section {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .crypto {
        border: 1px solid rgb(48, 45, 45);
        background-color: rgb(0, 0, 0.3);
        border-radius: 10%;
        height: 100%;
        gap: 10px;
    }

    .reseau-social ul {
        padding-right: 20px;
    }

    nav {
        text-align: left;
    }

    nav ul {
        font-size: 14px;
        list-style: none;
        padding: 0;
    }

    .xrp {
        display: block;
        gap: 10px;
        padding: 20px;
    }

    .card h2 {
        font-size: 18px;
    }

    .card {
        width: 100%;
        padding: 15px;
    }

    .news-item {
        padding: 10px;
    }
     aside {
        align-items: center;
    }
    
}
